@model PageResultDto<Student>;


@{
    ViewBag.Title = "学生详情页面";

}
<h1>学生列表</h1>

<form asp-action="Index" method="get">

    <div class="form-actions no-color">
        <input type="hidden" name="CurrentPage" value="@Model.CurrentPage" />
        <input type="hidden" name="Sorting" value="@Model.Sorting" />
        <p>
            请输入名称: <input type="text" name="FilterText" value="@Model.FilterText" />
            <input type="submit" value="查询" class="btn btn-outline-dark" /> |
            <a asp-action="Index">返回所有列表</a>| <a asp-action="Create">
                添加学生
            </a>
        </p>
    </div>
</form>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                @*<th scope="col">Id</th>*@
                <th scope="col">Phot</th>
                <th scope="col">
                    <a asp-action="index" asp-route-sorting="Name"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">Name</a>
                    <a class="pl-3" asp-action="index" asp-route-sortby="Name desc"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-sorting="Email"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">Email</a>
                    <a class="pl-3" asp-action="index" asp-route-sortby="Email desc"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-sorting="Major"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">Major</a>
                    <a class="pl-3" asp-action="index" asp-route-sorting="Major desc"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-sorting="Major"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">EnrollmentDate</a>
                    <a class="pl-3" asp-action="index" asp-route-sorting="EnrollmentDate desc"
                       asp-route-CurrentPage="@Model.CurrentPage"  asp-route-FilterText="@Model.FilterText">降序</a>
                </th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Data)
            {
                var photoPath = "~/image/" + (student.PhotoPath ?? "exw.gif");
                <tr style="line-height: 80px">
                    @*<th scope="row">@student.Id</th>*@
                    <th>
                        <img class="img-thumbnail" src="@photoPath"
                             asp-append-version="true" style="height:80px" />
                    </th>
                    <th>@student.Name</th>
                    <th>@student.Email</th>
                    <th>@student.Major.GetDisplayName()</th>
                    <th>@student.EnrollmentDate.ToString("yyyy-MM-dd")</th>
                    <th>
                        <form method="post" asp-action="remove" asp-route-id="@student.Id">
                            <a asp-controller="home" asp-action="details" asp-route-id="@student.EncryptedId" class="btn btn-primary m-1">查看</a>
                            <a asp-controller="home" asp-action="edit" asp-route-id="@student.EncryptedId" class="btn btn-primary m-1">编辑</a>
                            <span id="confirmDeleteSpan_@student.EncryptedId" style="display:none">
                                <span>你确定你要删除?</span>
                                <button type="submit" class="btn btn-danger">是</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@student.EncryptedId', false)">否</a>
                            </span>

                            <span id="deleteSpan_@student.Id">
                                <a href="#" class="btn btn-danger"
                                   onclick="confirmDelete('@student.EncryptedId', true)">删除</a>
                            </span>
                        </form>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(!Model.ShowFirst?"disabled":"")">
                <a class="page-link" asp-route-CurrentPage="1" aria-label="Previous"
                    asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item @(!Model.ShowPrevious?"disabled":"")">
            <a class="page-link" asp-route-Current="(@Model.CurrentPage-1)"
               asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting">Previous</a></li>

            <li class="page-item @(!Model.ShowNext?"disabled":"")">
            <a class="page-link" asp-route-Current="(@Model.CurrentPage+1)"
               asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting">Next</a></li>

            <li class="page-item @(!Model.ShowLast?"disabled":"")">
                <a class="page-link" asp-route-CurrentPage="@Model.TotalPages" aria-label="Next"
                   asp-route-FilterText="@Model.FilterText" asp-route-Sorting="@Model.Sorting">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}