@model List<Student>;
@{
    ViewBag.Title = "学生详情页面";

}
<h1>学生列表</h1>

<form asp-action="index" method="post">
    <div>
        <p>
            请输入名称：
            <input type="text" name="serchString" value="@ViewBag.CurrentFiler" />
            <input type="submit" value="查询" class="btn btn-outline-dark" />
            <a asp-action="index">返回所有列表</a>
            <a asp-action="Create">添加学生</a>
        </p>
    </div>
</form>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                @*<th scope="col">Id</th>*@
                <th scope="col">Phot</th>
                <th scope="col">
                    <a asp-action="index" asp-route-sortby="Name">Name</a>
                    <a class="pl-3" asp-action="index" asp-all-route-sortby="Name desc">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-sortby="Email">Email</a>
                    <a class="pl-3" asp-action="index" asp-all-route-sortby="Email desc">降序</a>
                th>
                <th scope="col">
                    <a asp-action="index" asp-route-sortby="Email">Major</a>
                    <a class="pl-3" asp-action="index" asp-all-route-sortby="Major desc">降序</a>
                </th>
                <th scope="col">
                    <a asp-action="index" asp-route-sortby="Email">EnrollmentDate</a>
                    <a class="pl-3" asp-action="index" asp-all-route-sortby="EnrollmentDate desc">降序</a>
                </th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                var photoPath = "~/image/" + (student.PhotoPath ?? "exw.gif");
                <tr style="line-height: 80px">
                    @*<th scope="row">@student.Id</th>*@
                    <th>
                        <img class="img-thumbnail" src="@photoPath"
                             asp-append-version="true" style="height:80px" />
                    </th>
                    <th>@student.Name</th>
                    <th>@student.Email</th>
                    <th>@student.Major.GetDisplayName()</th>
                    <th>@student.EnrollmentDate.ToString("yyyy-MM-dd")</th>
                    <th>
                        <form method="post" asp-action="remove" asp-route-id="@student.Id">
                            <a asp-controller="home" asp-action="details" asp-route-id="@student.EncryptedId" class="btn btn-primary m-1">查看</a>
                            <a asp-controller="home" asp-action="edit" asp-route-id="@student.EncryptedId" class="btn btn-primary m-1">编辑</a>
                            <span id="confirmDeleteSpan_@student.EncryptedId" style="display:none">
                                <span>你确定你要删除?</span>
                                <button type="submit" class="btn btn-danger">是</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@student.EncryptedId', false)">否</a>
                            </span>

                            <span id="deleteSpan_@student.Id">
                                <a href="#" class="btn btn-danger"
                                   onclick="confirmDelete('@student.EncryptedId', true)">删除</a>
                            </span>
                        </form>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}